@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info">
            @ViewBag.Message
        </div>
    }
    @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            <input type="file" name="file" accept=".dwg" />
        </div>
        <div>
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    }
</div>
