@model List<OneByMartinDoller.GoogleSheet.Shared.DwgProcessingModel>

@{
    string spreadSheetId = ViewBag.SpreadSheetId as string;
    string googleSheetUrl = $"https://docs.google.com/spreadsheets/d/{spreadSheetId}";
}
<p>
    <a href="@googleSheetUrl" target="_blank">Open Google Sheet </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Room Name</th>
            <th>P-Block</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.RoomName</td>
                <td>
                    <ul>
                        @foreach (var pBlock in item.PBlocks)
                        {
                            <li>@pBlock.Key</li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @foreach (var pBlock in item.PBlocks)
                        {
                            <li>@pBlock.Value</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>

